/* Медиа запрос: для экранов шириной до 1140px */
@media (max-width: 1140px) {
  .menu {
    width: 80%;
  }
  .menu_link,
  .header-phone {
    font-size: 13px;
  }
  .advantages__item {
    margin: 0 auto 20px auto;
  }
  .card {
    width: calc(50% - 15px);
  }
  /* .card-img{
        max-width: 100%;
    } */
}
@media (max-width: 1024px) {
  /* .nav__logo {
    display: none;
  } */
}
/* Медиа запрос: для экранов шириной до 768px */
@media (max-width: 768px) {
  .header {
    background-position: 80% 50%;
  }
  .offer{
    width: 74%;
    margin-top: 60px;
  }
  .nav__logo {
    display: flex;
    align-items: center;
  }
  .nav__logo img {
    height: 30px;
  }
  .header-icons{
    margin-right:10px;
  }
  .offer__label{
    font-size: 28px;
  }
  .offer__title{
    font-size: 16px;
  }
  .offer__btn{
    height: 40px;
    width: 180px;
    font-size: 14px;
  }
  .trigger{
    display: none;
  }
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(229, 110, 0, 0.9);
    transition: all 0.6s ease-in;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    font-size: 20px;
    display: block;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    width: 26px;
    height: 15px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    transition: all 0.6s ease-in;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .header-phone {
    width: 150px;
    height: 50px;
  }
  .header-title {
    font-size: 32px;
    width: 320px;
  }
  .header-subtitle {
    font-size: 18px;
  }
  .advantages__wrapper {
    justify-content: center;
    margin-top: 30px;
  }
  .advantages {
    padding: 50px 0 50px 0;
  }
  .advantages__item {
    margin-bottom: 40px;
  }
  .advantages__subtitle {
    margin-top: 18px;
  }
  .advantages__descr {
    margin-top: 14px;
  }

  .stages__wrapper {
    justify-content: center;
    margin-top: 30px;
  }
  .stages {
    padding: 50px 0 50px 0;
  }
  .stages__item {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .stages__descr {
    max-width: 50%;
    margin-top: 14px;
  }

  .consultation {
    padding: 50px 0 50px 0;
  }

  .dontshow {
    display: none;
  }
  .services {
    padding: 50px 0 50px 0;
  }
  .services-header,
  .advantages-header,
  .stages-header,
  .title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .services-header {
    margin-bottom: 30px;
  }
  .title_left {
    font-size: 24px;
  }
  .services-descr {
    font-size: 18px;
  }
  .services-descr li {
    line-height: 1.8;
  }
  .consultation .title {
    margin-bottom: 20px;
  }
  .consultation .feed-form {
    margin: 0;
  }
  .feed-form .warning {
    margin-top: 20px;
  }
  .carousel {
    padding: 50px 0 50px 0;
  }
  .carousel__inner {
    width: 300px;
  }
  .portfolio {
    padding: 50px 0 50px 0;
  }
  .portfolio-header {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .portfolio-cards-wrapper {
    justify-content: center;
  }
  .card {
    width: 100%;
    max-width: 530px;
  }
  /* .card-img{
        display: block;
        width: 250px;
    } */
  .card:nth-last-child(2) {
    margin-bottom: 30px;
  }
  .card-link {
    padding: 15px;
  }
  .card-img {
    margin-bottom: 10px;
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 14px;
  }
  .footer {
    font-size: 15px;
  }
  .footer-nav {
    justify-content: center;
  }

  .modal {
    width: 320px;
    padding: 30px 40px 30px 40px;
  }
  .modal_mini {
    min-height: 130px;
  }
  
}

@media (max-width: 480px){
  .offer{
    width: 100%;

  }
  .consultation {
    background-position: 0% 50%;
    display: flex;
  }
  .modal {
    width: 260px;
    padding: 25px 20px 25px 20px;
  }
  .modal_mini {
    min-height: 120px;
  }
  .modal__close {
    top: 0;
    right: -25px;
    font-size: 35px;
  }
}
@media (max-width: 375px){
  .nav__logo {
    display: none;
  }
  .button_submit{
      font-size: 20px;
  }
  .footer {
    font-size: 14px;
  }
  .footer-contacts svg {
    width: 20px;
    height: 20px;
  }
}